$slow: 1s;
$normal: .5s;
$fast: .30s;
$fastest: .10s;

@mixin ease_in_out($speed:$normal) {
  transition: $speed ease-in-out all;
  -webkit-transition: all $speed ease-in-out;
  -moz-transition: all $speed ease-in-out;
  -o-transition: all $speed ease-in-out;
}

@mixin ease_in_out_fast {
  @include ease_in_out($fast);
}

@mixin ease_in_out_normal {
  @include ease_in_out($normal);
}

@mixin ease_in_out_fastest {
  @include ease_in_out($fastest);
}

@mixin ease_in_out_slow {
  @include ease_in_out($slow);
}

//Animate show/hide of accesories like add, delete and edit buttons
.accessory-animate-inout.ng-enter,
.accessory-animate-inout.ng-leave {
  @include ease_in_out_fast;
}

.accessory-animate-inout.ng-enter,
.accessory-animate-inout.ng-leave-active {
  opacity: 0;
}

.accessory-animate-inout.ng-enter-active,
.accessory-animate-inout.ng-leave {
  opacity: 1;
}

//Animate show/hide of edit and new forms
.form-animate-in.ng-enter,
.form-animate-inout.ng-enter {
  @include ease_in_out_fast;
}

.form-animate-inout.ng-leave {
  @include ease_in_out_fast;
}

.form-animate-in.ng-enter,
.form-animate-inout.ng-enter,
.form-animate-inout.ng-leave-active {
  opacity: 0;
}

.form-animate-in.ng-enter-active,
.form-animate-inout.ng-enter-active,
.form-animate-inout.ng-leave {
  opacity: 1;
}

// Animate insert and delete of list item
.item-animate-repeat.ng-enter {
  @include ease_in_out_fast;
}

.item-animate-repeat.ng-leave {
  @include ease_in_out_fast;
}

.item-animate-repeat.ng-enter,
.item-animate-repeat.ng-leave-active {
  opacity: 0;
}

.item-animate-repeat.ng-enter-active,
.item-animate-repeat.ng-leave {
  opacity: 1;
}

// view animations

.view-animate.ng-enter,
.xview-animate.ng-leave {
  @include ease_in_out_fast;
}

.view-animate.ng-enter {
  opacity: .7;
}

.view-animate.ng-enter-active {
  opacity: 1;
}

.xview-animate.ng-leave {
  opacity: 1;
}

.view-animate.ng-leave-active {
  opacity: 0;
}

// score animate

.score-animate.ng-enter,
.score-animate.ng-leave {
  @include ease_in_out_fast;
}

.score-animate.ng-enter {
  opacity: 0;
}

.score-animate.ng-enter-active {
  opacity: 1;
}

.score-animate.ng-leave {
  opacity: 1;
}

.score-animate.ng-leave-active {
  opacity: 0;
}

//// score animate
//
//.score-animate-in.ng-enter,
//.xscore-animate-in.ng-leave {
//  @include ease_in_out_fast;
//}
//
//.score-animate-in.ng-enter {
//  opacity: 0;
//}
//
//.score-animate-in.ng-enter-active {
//  opacity: 1;
//}
//
//.xscore-animate-in.ng-leave {
//  opacity: 1;
//}
//
//.xscore-animate-in.ng-leave-active {
//  opacity: 0;
//}

//// score animate
//
//.score-animate-fast.ng-enter,
//.score-animate-fast.ng-leave {
//  @include ease_in_out_slow;
//}
//
//.score-animate-fast.ng-enter,
//.score-animate-fast.ng-leave-active{
//  opacity: 0;
//}
//
//.score-animate-fast.ng-enter-active,
//.score-animate-fast.ng-leave {
//  opacity: 1;
//}
//
//// score animate
//
//.score-animate-fast-in.ng-enter,
//.score-animate-fast-in.ng-leave {
//  @include ease_in_out_slow;
//}
//
//.score-animate-fast-in.ng-enter,
//.score-animate-fast-in.ng-leave-active{
//  opacity: 0;
//}
//
//.score-animate-fast-in.ng-enter-active,
//.score-animate-fast-in.ng-leave{
//  opacity: 1;
//}




