//Animate ng-if toggle of forms

@mixin ease-in {
  transition:0.5s linear all;
}

@mixin ease-out {
  transition:0.5s linear all;
}

@mixin ease-out-fast {
  transition:0.2s linear all;
}

//Animate show/hide of edit and new forms
.form-animate-in-if.ng-enter,
.form-animate-if.ng-enter {
  @include ease_in;
}

.form-animate-if.ng-leave {
  @include ease_out_fast;
}

.form-animate-in-if.ng-enter,
.form-animate-if.ng-enter,
.form-animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.form-animate-in-if.ng-enter.ng-enter-active,
.form-animate-if.ng-enter.ng-enter-active,
.form-animate-if.ng-leave {
  opacity:1;
}

// Animate insert and delete of list item
.item-animate-repeat.ng-enter {
  @include ease_in;
}

.item-animate-repeat.ng-leave {
  @include ease_out;
}

.item-animate-repeat.ng-enter,
.item-animate-repeat.ng-leave.ng-leave-active {
  opacity:0;
}

.item-animate-repeat.ng-enter.ng-enter-active,
.item-animate-repeat.ng-leave {
  opacity:1;
}



