$default_speed: 3s;

@mixin ease_in_out($speed:$default_speed) {
  transition: $speed ease-in-out all;
  -webkit-transition: all $speed ease-in-out;
}


// view animations

.view-animate.ng-enter,
.xview-animate.ng-leave {
  @include ease_in_out;
}

.view-animate.ng-enter {
  opacity: .5;
}

.view-animate.ng-enter-active {
  opacity: 1;
}

.xview-animate.ng-leave {
  opacity: 1;
}

.view-animate.ng-leave-active {
  opacity: 0;
}


.standard-animation.ng-enter,
.standard-animation.ng-leave {
  @include ease_in_out;
}

.standard-animation.ng-enter,
.standard-animation.ng-leave.ng-leave-active {
  opacity:0;
}
.standard-animation.ng-leave,
.standard-animation.ng-enter.ng-enter-active {
  opacity:1;
}

