$default_speed: .20s;

@mixin ease_in_out($speed:$default_speed) {
  transition: $speed ease-in-out all;
  -webkit-transition: all $speed ease-in-out;
}

// Slight animation when enter a new view

.view-animation.ng-enter {
  @include ease_in_out;
}

.view-animation.ng-enter {
  opacity: .8;
}

.view-animation.ng-enter-active {
  opacity: 1;
}


// Animation for hiding and showing elements such as forms and scores

.standard-animation.ng-enter,
.standard-animation.ng-leave {
  @include ease_in_out;
}

.standard-animation.ng-enter,
.standard-animation.ng-leave.ng-leave-active {
  opacity:0;
}
.standard-animation.ng-leave,
.standard-animation.ng-enter.ng-enter-active {
  opacity:1;
}

