<div class="container-fluid">

  <div class="col-xs-12" ng-if="main.loading">
    {{main.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="main.loadingFailed">
    {{main.loadingFailedMessage}}
  </div>

  <div ng-show="!main.loading && !main.loadingFailed">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="main.showNewEntityForm()">
        <span class="glyphicon glyphicon-plus"></span> Player
      </button>
    </div>

    <div class="col-xs-12">
      <ol class="list-group">

        <!--Add player-->
        <li class="list-group-item" ng-if="main.showingNewEntityForm">
          <fe-players-form
            form="main.newEntityForm"
            errors="main.entityCreateErrors"
            cancel="main.hideNewEntityForm()"
            submit="main.submitNewEntityForm()"
            ok="Add"
            entity="main.newEntity"
          >
          </fe-players-form>
        </li>


        <!--Player details-->
        <li class="list-group-item clearfix" ng-repeat="entity in main.entitys">
          <div ng-hide="main.showingEditEntityForm(entity)">
            <div class="col-xs-10">
              <div class="h4">
                {{ entity.name}}
              </div>
            </div>

            <div class="col-xs-2">
              <!--Delete player button-->
              <div class="pull-right">
                <button class="btn btn-link" ng-click="main.trashEntity(entity)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <br>
                <button class="btn btn-link" ng-click="main.showEditEntityForm(entity)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
            </div>
          </div>


          <!--Edit player-->

          <div ng-if="main.showingEditEntityForm(entity)">

            <div>
              <fe-players-form
                form="main.editEntityForm"
                errors="main.entityUpdateErrors"
                cancel="main.hideEditEntityForm()"
                submit="main.submitEditEntityForm()"
                entity="main.editEntity"
                ok="Save"
              >
              </fe-players-form>
            </div>


          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
