<form name="vm.form"
      ng-submit="vm.submit()" novalidate ng-keyup="$event.keyCode == 27 && vm.cancel()">
  <div class="form-group"
       ng-class="{ 'has-error' : (vm.errors.name || vm.form.name.$error.required) && !vm.form.name.$pristine }">
    <label for="name" class="sr-only control-label">Entity Name</label>
    <div>
      <input ng-change="vm.clearErrors(['name', 'other'])" fe-auto-focus='refocus' type="text" class="form-control" id="name" name="name"
             placeholder="Player Name"
             ng-model="vm.entity.name" required>
            <span ng-show="vm.form.name.$error.required && !vm.form.name.$pristine"
                  class="help-block">Player name is required.</span>

      <fe-form-field-errors
        errors="vm.errors"
        key="name"
        prefix="Name"
      >
      </fe-form-field-errors>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$pristine || vm.form.$invalid">{{vm.ok}}</button>
    <button type="Button" class="btn btn-info" ng-click="vm.cancel()">Cancel</button>
  </div>
  <!--Other problems-->
  <fe-form-field-errors
    errors="vm.errors"
    key="other"
    prefix=""
  >
  </fe-form-field-errors>
</form>
