<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12" ng-if="vm.loading.loading || vm.loading.failed">
      <fe-loading-messages
        loading="vm.loading"
      ></fe-loading-messages>
    </div>

    <div class="col-xs-12" ng-if="!vm.loading.loading && !vm.loading.failed">

      <div ng-if="vm.matches.length == 0">
        <fe-empty-list-message
          logged-in="vm.loggedIn"
          kind="matches"
        ></fe-empty-list-message>
      </div>

      <div class="score-panel clearfix" ng-if="vm.matches.length > 0">

          <form class="pull-left score-select-list">
            <label for="team" class="control-label sr-only">Team</label>
            <ui-select search-enabled="false" autofocus ng-model="vm.selectedMatch"
                       theme="bootstrap" id="team" name="team"
                       ng-required="true" on-select="vm.selectedMatchChange()">
              <ui-select-match placeholder="Select a match">{{$select.selected.title}}</ui-select-match>
              <ui-select-choices repeat="item in vm.matches | filter: $select.search">
                <div ng-bind-html="item.title"></div>
                <small ng-if="item.doubles">
                  <fe-match-opponent-teams-players
                    match="item"
                    short-player-names="true"
                  >
                  </fe-match-opponent-teams-players>
                </small>
                <small ng-if="!item.doubles">
                  <fe-match-opponent-players
                    match="item"
                    short-player-names="true"
                  >
                  </fe-match-opponent-players>
                </small>
             </ui-select-choices>
            </ui-select>
          </form>


          <div  class="pull-right">
            <div ng-if="vmScoreboard">
              <!--Drop down menu -->
              <fe-score-commands
                vm="vmScoreboard"
                logged-in="vm.loggedIn"
              ></fe-score-commands>
            </div>
        </div>
      </div>

      <!--Spacing-->
      <div class="score-panel-spacing"></div>

      <div ui-view class="view-animation"></div>
    </div>
  </div>
</div>

