<form>
  <div class="form-group">
    <label class="control-label">Select a player to serve game {{scores.currentGame.title}}</label>
    <div class="radio" ng-repeat="player in scores.firstServers.list"
         ng-init="scores.selectServer = scores.firstServers.list[0].id">
      <label>
        <input type="radio" name="player" value="{{player.id}}" ng-model="scores.selectServer">
        {{player.name}}
      </label>
    </div>
  </div>
  <div clas="form-group">
      <button class="btn btn-primary"
              ng-click="scores.update('start_game', scores.selectServer)">Start Game
      </button>
  </div>
</form>
