<div style="height: 2em">

  <div xng-if="view.keepingScore()">
    <!--New set status-->
    <fe-score-progress
      view="view"
      scores="scores"
    ></fe-score-progress>
  </div>

  <!--&lt;!&ndash;Match button&ndash;&gt;-->
  <!--<div ng-if="scores.buttonState.show.match && view.keepingScore()">-->
    <!--&lt;!&ndash;Match button&ndash;&gt;-->
    <!--<fe-score-button-->
      <!--view="view"-->
      <!--scores="scores"-->
    <!--&gt;</fe-score-button>-->
  <!--</div>-->


  <!--New set row-->
  <!--<div ng-if="scores.newSet">-->
    <!--<div ng-if="view.keepingScore()">-->
      <!--&lt;!&ndash;New set button&ndash;&gt;-->
      <!--<fe-score-status-->
        <!--view="view"-->
        <!--scores="scores"-->
        <!--title="scores.newSet.title"-->
      <!--&gt;</fe-score-status>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash;New game buttons&ndash;&gt;-->
  <!--<div ng-if="scores.newGame">-->

    <!--<div xng-if="!view.keepingScore()">-->
      <!--&lt;!&ndash;New Game Status&ndash;&gt;-->
      <!--<fe-score-status-->
        <!--scores="scores"-->
        <!--title="scores.newGame.title"-->
      <!--&gt;</fe-score-status>-->
    <!--</div>-->

  <!--</div>-->

</div>

