<!--actions: {{scores.actions}}-->
<div ng-if="!view.animatingButtons" class="score-button-animate">
<!--Buttons to update match score-->
<div ng-if="scores.actions.win_game">
  <button  xng-disabled="view.updating" class="btn btn-primary match-btn glyphicon glyphicon-ok" ng-click="scores.update('win_game', param)">
  </button>
</div>
<div ng-if="scores.actions.win_tiebreaker">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn glyphicon glyphicon-ok" ng-click="scores.update('win_tiebreaker', param)">
  </button>
</div>
<div ng-if="scores.actions.win_match_tiebreaker">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn glyphicon glyphicon-ok" ng-click="scores.update('win_match_tiebreaker', param)">
  </button>
</div>
<div ng-if="scores.actions.start_set">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('start_set')">Start {{scores.currentSet.title}} Set
  </button>
</div>
<div ng-if="scores.actions.start_game">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('start_game', param)">Start Game {{scores.currentGame.title}}
  </button>
</div>
<div ng-if="scores.actions.start_tiebreaker">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('start_tiebreaker')">Start Tiebreak
  </button>
</div>
<div ng-if="scores.actions.start_match_tiebreaker">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('start_match_tiebreaker')">Start Tiebreak Set
  </button>
</div>
<div ng-if="scores.state == 'complete' && scores.actions.restart_play">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('restart_play')">Start Over</button>
</div>
<div ng-if="scores.actions.start_play">
  <button xng-disabled="view.updating"  class="btn btn-primary match-btn" ng-click="scores.update('start_play')">Start Playing</button>
</div>
  </div>
