<!--
 Display a message on a score table row.  Message is shown following the score rather than
 when keeping score.
 -->
<div ng-if="!scores.currentGame.hiddenRowStatus"
     ng-class="{'standard-animation': scores.currentGame.animatingRowStatus}">
  <em class="score-em">
<span ng-if="scores.actions.win_game">
  Game {{scores.currentGame.title}} is in progress
</span>
<span ng-if="scores.actions.win_tiebreak">
  Tiebreak is in progress
</span>
<span ng-if="scores.actions.win_match_tiebreak">
  Match tiebreak is in progress
</span>
  </em>
</div>
