<!--Read only indication of match status-->
<div ng-if="scores.actions.win_game">
  game {{title}} in progress
</div>
<div ng-if="scores.actions.win_tiebreaker">
  tiebreaker in progress
</div>
<div ng-if="scores.actions.win_match_tiebreaker">
  tiebreaker in progress
</div>
<div ng-if="scores.actions.start_set">
  {{title}} set starting
</div>
<div ng-if="scores.actions.start_game">
  game {{title}} starting
</div>
<div ng-if="scores.actions.start_tiebreaker">
  tiebreaker starting
</div>
<div ng-if="scores.actions.start_match_tiebreaker">
  match tiebreaker starting
</div>
<div ng-if="scores.actions.start_set_tiebreaker">
  set tiebreaker starting
</div>
<div ng-if="scores.actions.complete_set_play">
  completing {{title}} set
</div>
<div ng-if="scores.actions.complete_match_tiebreaker">
  completing tiebreaker
</div>
<div ng-if="scores.state == 'finished' && scores.actions.complete_play">
  completing match
</div>
