<div uib-dropdown>
  <div class="score-menu"  class="pull-right">
  <a href uib-dropdown-toggle>Menu<span class="caret"></span></a>
    </div>
  <!--<a href uib-dropdown-toggle class="form-group" style="display: inline-block; margin-top: 6px">Menu<span class="caret"></span></a>-->
  <!--<button type="button" class="btn btn-link" uib-dropdown-toggle>-->
    <!--Menu<span class="caret"></span>-->
  <!--</button>-->
  <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
    <li role="menuitem" class="disabled-menu-item">
      <!--Undo-->
      <a href ng-click="vm.view.updateScore('remove_last_change')"
         ng-class="{'disabled-link' : !loggedIn || !vm.view.keepingScore() || !vm.scores.actions.remove_last_change}">
        <span class="glyphicon glyphicon-repeat flip-horizontal"></span> Undo
      </a>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
      <!--Expand all-->
      <a href ng-click="vm.view.toggleShowDescription()" >
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': !vm.view.showDescription }">
          </span>
        Show Description
      </a>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
      <a href ng-click="vm.view.toggleKeepScore()"
         ng-class="{'disabled-link' : !loggedIn}">
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': !vm.view.keepingScore() }">
          </span>
        Keep Score
      </a>
    </li>
    <li role="menuitem">
      <a href ng-click="vm.view.toggleKeepScore()" >
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': vm.view.keepingScore() }">
          </span>
        Follow Score
      </a>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
      <a href ng-click="vm.view.toggleShowGames()" >
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': vm.view.showGames }">
          </span>
        Show Sets Only
      </a>
    </li>
    <li role="menuitem">
      <a href ng-click="vm.view.toggleShowGames()" >
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': !vm.view.showGames }">
          </span>
        Show Sets and Games
      </a>
    </li>
    <li class="divider"></li>
    <li role="menuitem">
      <!--Clear score board-->
      <a href ng-click="vm.view.updateScore('discard_play')"
         ng-class="{'disabled-link' : !loggedIn || !vm.view.keepingScore() || !vm.scores.actions.discard_play}">
        <span class="glyphicon glyphicon-remove"></span> Clear Score Board
      </a>
    </li>
  </ul>
</div>



