<div class="row">
  <div class="col-xs-12">

    <div ng-if="!scores.matchFlags.hiddenProgress" ng-class="{'standard-animation': scores.matchFlags.animatingProgress}">

      <div ng-class="{'pull-left score-progress-left' : view.keepingScore && scores.startingSetOrMatch}">

        <!--Display a message-->

        <div ng-if="scores.actions.win_game">
          Playing game {{scores.currentGame.title}} of the {{scores.currentSet.title}} set<span ng-if="view.showWinButtonHint && view.keepingScore">. &nbsp;
          When game {{scores.currentGame.title}} is completed, click the button beneath the winner</span>
        </div>

        <div ng-if="scores.actions.win_tiebreak">
          Playing the {{scores.currentSet.title}} set tiebreak.
        </div>

        <div ng-if="scores.actions.win_match_tiebreak">
          Playing the match tiebreak
        </div>

        <div ng-if="scores.actions.start_set">
          <div>
            <span>{{scores.previousSet.title}} set won by&nbsp;</span>
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousSet.winner"
              punctuation="."
            ></fe-score-progress-winner>
            <span>&nbsp; The {{scores.currentSet.title}} set is next</span>
          </div>
        </div>

        <div ng-if="scores.actions.start_game">
          <div ng-if="scores.currentGame.firstOfMatch">
            The first game of the match is next
          </div>
          <div ng-if="!scores.currentGame.firstOfMatch && scores.currentGame.firstOfSet">
            The first game of the set is next
          </div>
          <div ng-if="!scores.currentGame.firstOfSet && !scores.currentGame.tiebreak">
            <span>Game {{scores.previousGame.title}} won by&nbsp;</span>
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousGame.winner"
              punctuation="."
            ></fe-score-progress-winner>
            <span> &nbsp;Game {{scores.currentGame.title}} is next</span>
          </div>
        </div>

        <div ng-if="scores.actions.start_tiebreak">
          <span>Game {{scores.previousGame.title}} won by&nbsp;</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.previousGame.winner"
            punctuation="."
          ></fe-score-progress-winner>
          <span> &nbsp;The set tiebreak is next</span>
        </div>

        <div ng-if="scores.actions.start_match_tiebreak">
          <div>Set {{scores.previousSet.title}} won by&nbsp;
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousSet.winner"
              punctuation="."
            ></fe-score-progress-winner>
            <span> &nbsp;The match tiebreak is next</span>
          </div>
        </div>

        <div ng-if="scores.state == 'complete'">
          <span>The match is over. The</span>
          <span ng-if="scores.doubles">winners are&nbsp;</span>
          <span ng-if="!scores.doubles">winner is&nbsp;</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.winner"
            match-winner="true"
          ></fe-score-progress-winner>
        </div>

        <div ng-if="scores.actions.start_play">
          The match has not started
        </div>
      </div>

      <div class="pull-right" ng-if="view.keepingScore && scores.startingSetOrMatch">
        <!--Display a button-->
        <fe-score-button
          view="view"
          scores="scores"
        ></fe-score-button>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
