<div class="row">

  <div ng-if="!scores.matchFlags.hiddenProgress" ng-class="{'score-animate': scores.matchFlags.showingProgress}">

    <div ng-class="view.keepingScore() && scores.startingSetOrMatch ? 'col-xs-7-2 col-sm-9' : 'col-xs-12'">

      <!--Display a message-->

      <div ng-if="scores.actions.win_game">
        Playing game {{scores.currentGame.title}} of {{scores.currentSet.title}} set
      </div>

      <div ng-if="scores.actions.win_tiebreaker">
        Playing the {{scores.currentSet.title}} set tiebreaker.
      </div>

      <div ng-if="scores.actions.win_match_tiebreaker">
        Playing the match tiebreaker
      </div>

      <div ng-if="scores.actions.start_set">
        <div>
          <span>{{scores.previousSet.title}} set won by</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.previousSet.winner"
            period="true"
          ></fe-score-progress-winner>
          <span> Waiting for the {{scores.currentSet.title}} set to start</span>
        </div>
      </div>

      <div ng-if="scores.actions.start_game">
        <div ng-if="scores.currentGame.firstOfMatch">
          Waiting for the first game of the match to start
        </div>
        <div ng-if="!scores.currentGame.firstOfMatch && scores.currentGame.firstOfSet">
          Waiting for the first game of the set to start
        </div>
        <div ng-if="!scores.currentGame.firstOfSet && !scores.currentGame.tiebreaker">
          <span>Game {{scores.previousGame.title}} won by</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.previousGame.winner"
            period="true"
          ></fe-score-progress-winner>
          <span> Waiting for game {{scores.currentGame.title}} to start.</span>
        </div>
      </div>

      <div ng-if="scores.actions.start_tiebreaker">
        <span>Game {{scores.previousGame.title}} won by</span>
        <fe-score-progress-winner
          scores="scores"
          winner="scores.previousGame.winner"
          period="true"
        ></fe-score-progress-winner>
        <span> Waiting for the set tiebreak to start</span>
      </div>

      <div ng-if="scores.actions.start_match_tiebreaker">
        <div>Set {{scores.previousSet.title}} won by
          <fe-score-progress-winner
            scores="scores"
            winner="scores.previousSet.winner"
            period="true"
          ></fe-score-progress-winner>
          <span> Waiting for the match tiebreak to start</span>
        </div>
      </div>

      <div ng-if="scores.state == 'complete'">
        <span>The match is over. The</span>
        <span ng-if="scores.doubles">winners are</span>
        <span ng-if="!scores.doubles">winner is</span>
        <fe-score-progress-winner
          scores="scores"
          winner="scores.winner"
        ></fe-score-progress-winner>
      </div>

      <div ng-if="scores.actions.start_play">
        The match has not started
      </div>
    </div>

    <div class="col-xs-4-8 col-sm-3" ng-if="view.keepingScore() && scores.startingSetOrMatch">
      <!--Display a button-->
      <fe-score-button
        view="view"
        scores="scores"
      ></fe-score-button>
      <!--</div>-->
    </div>
  </div>
</div>
