<!--visible: {{visible}}-->
<!--leftmost: {{leftmost}}-->
<div style="position: absolute; left:0; top: 5px" ng-if="visible && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">
      <span ng-if="leftmost" class="icon-tennis"></span>
      <span ng-if="!leftmost" class="icon-tennis flip-horizontal"></span>
  visible: {{visible}}
  leftmost: {{leftmost}}
</div>
<!--<div ng-if="!(visible) && !scores.matchFlags.hiddenServer">-->
      <!--<span>x</span>-->
<!--</div>-->
