<div ng-if="scores.actions.win_game && !scores.currentGame.hiddenWinButton"
     ng-class="{'standard-animation': scores.currentGame.animatingWinButton}">
  <button   class="btn btn-primary  glyphicon glyphicon-ok" ng-click="view.updateScore('win_game', param)">
  </button>
</div>
<div ng-if="scores.actions.win_tiebreak && !scores.currentGame.hiddenWinButton"
 ng-class="{'standard-animation': scores.currentGame.animatingWinButton}">
  <button   class="btn btn-primary  glyphicon glyphicon-ok" ng-click="view.updateScore('win_tiebreak', param)">
  </button>
</div>
<div ng-if="scores.actions.win_match_tiebreak && !scores.currentGame.hiddenWinButton"
  ng-class="{'standard-animation': scores.currentGame.animatingWinButton}">
  <button   class="btn btn-primary  glyphicon glyphicon-ok" ng-click="view.updateScore('win_match_tiebreak', param)">
  </button>
</div>
<div ng-if="scores.actions.start_set">
  <button   class="btn btn-primary " ng-click="view.updateScore('start_set')">Start {{scores.currentSet.title}} Set
  </button>
</div>
<div ng-if="scores.actions.start_game  && !scores.currentGame.hiddenStartGameButton"
     ng-class="{'standard-animation': scores.currentGame.animatingStartGameButton}">
  <button   class="btn btn-primary " ng-click="view.updateScore('start_game', param)">Start Game {{scores.currentGame.title}}
  </button>
</div>
<div ng-if="scores.actions.start_tiebreak  && !scores.currentGame.hiddenStartGameButton"
     ng-class="{'standard-animation': scores.currentGame.animatingStartGameButton}">
  <button   class="btn btn-primary " ng-click="view.updateScore('start_tiebreak')">Start Tiebreak
  </button>
</div>
<div ng-if="scores.actions.start_match_tiebreak">
  <button   class="btn btn-primary " ng-click="view.updateScore('start_match_tiebreak')">Start Tiebreak
  </button>
</div>
<div ng-if="scores.actions.start_play">
  <button   class="btn btn-primary " ng-click="view.updateScore('start_play')">Start Match</button>
</div>
