<div>

  <div class="col-xs-12" ng-if="vm.loading">
    {{vm.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="vm.loadingFailed">
    {{vm.loadingFailedMessage}}
  </div>


  <div ng-if="!vm.loading && !vm.loadingFailed">
    <div class="play-table">
      <div ng-if="vm.scoreBoard.doubles && vm.scoreBoard.first_team.name != null && vm.scoreBoard.second_team.name != null" class="match-detail">
        "{{vm.scoreBoard.first_team.name}}" vs. "{{vm.scoreBoard.second_team.name}}"
      </div>
      <div class="match-detail">
        <fe-match-scoring match="vm.scoreBoard"></fe-match-scoring>
      </div>
      <div class="match-detail">
        <fe-match-status match="vm.scoreBoard"></fe-match-status>
      </div>

    </div>

    <div class="play-table">
      <fe-score-commands scores="vm.scoreBoard" loggedin="vm.loggedIn"></fe-score-commands>
    </div>

    <div>
      <fe-score-table scores="vm.scoreBoard" loggedin="vm.loggedIn"></fe-score-table>
    </div>

  </div>
</div>

