<div>
  <div class="pull-right">
    <div uib-dropdown>
      <a href uib-dropdown-toggle>Menu<span class="caret"></span></a>
      <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem" class="disabled-menu-item">
          <!--Undo-->
          <a href ng-click="scores.updateScore('remove_last_change')"
             ng-class="{'disabled-link' : !loggedin || !scores.keepingScore() || !scores.actions.remove_last_change}">
            <span class="glyphicon glyphicon-repeat flip-horizontal"></span> Undo
          </a>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
          <!--Toggle keepscore-->
          <a href ng-click="scores.changeViewKeepScore()" ng-model="scores.view.keepScore"
             ng-class="{'disabled-link' : !loggedin}"
          uib-btn-radio="true">
        <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': !loggedin || (scores.view.keepScore == false)}">
          </span>
            Keep Score
          </a>
        </li>
        <li role="menuitem">
          <!--Toggle keepscore-->
          <a href ng-click="scores.changeViewKeepScore()" ng-model="scores.view.keepScore"
             uib-btn-radio="false">
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': loggedin && (scores.view.keepScore == true)}">
          </span>
            Follow Score
          </a>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
          <!--Collapsed view-->
          <a href ng-click="scores.changeViewExpand()" ng-model="scores.view.expand" uib-btn-radio="'collapse'">
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': scores.view.expand != 'collapse'}">
          </span>
            Show Sets Only
          </a>
        </li>
        <li role="menuitem">
          <!--Expand all-->
          <a href ng-click="scores.changeViewExpand()" ng-model="scores.view.expand" uib-btn-radio="'expand_all'">
          <span class="glyphicon glyphicon-ok" ng-class="{ 'glyphicon-none': scores.view.expand != 'expand_all'}">
          </span>
            Show Sets and Games
          </a>
        </li>
        <li class="divider"></li>
        <li role="menuitem">
          <!--Clear score board-->
          <a href ng-click="scores.updateScore('discard_play')"
             ng-class="{'disabled-link' : !loggedin || !scores.keepingScore() || !scores.actions.discard_play}">
            <span class="glyphicon glyphicon-remove"></span> Clear Score Board
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>



