// Styling for scoreboard table

$border: 1px solid black;
$table_width: 550px;
$col_1_width: 110px;
$col_2_width: 220px;
$col_3_width: 440px;

$table_min_width: 300px;
$col_1_min_width: 60px;
$col_2_min_width: 120px;
$col_3_min_width: 240px;

$score_color: green;
$side_margin: 30px;

@mixin center-cell {
  text-align: center;
  vertical-align: middle !important;
}

// Default to maximum size
.score-col-1 {
  width: $col_1_width;
  @include center-cell;
}

.score-col-2 {
  width: $col_2_width;
  @include center-cell;
}

.score-col-3 {
  width: $col_3_width;
  @include center-cell;
}

.score-panel table {
  table-layout: fixed;
}

.score-panel {
  width: $table_width;
}

.score-progress {
  // container for button and two lines of text
  height: 3em;
  overflow: hidden;
}

.score-progress-left {
  width: -moz-calc(100% - 120px);
  width: -webkit-calc(100% - 120px);
  width: calc(100% - 120px);
}

.score-panel-spacing {
  height: 15px;
}

.score-panel-details .panel-body {
  padding: 8px 12px 0 12px;
}

.score-panel-details {
  margin-bottom: 0;
}

.score-menu {
  margin-top: .5em;
}

.score-select-list {
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}

.score-em {
  //font-style: italic;
  font-weight: normal;
}

// Score column with button
.score-col-contains-button {
  height: 3.2em;
}

// override with proportional sizing
@media only screen and (max-width: $table_width + $side_margin) {
  .score-panel {
    width: 100%;
  }
  .score-col-1 {
    width: 20%;
  }

  .score-col-2 {
    width: 40%;
  }

  .score-col-3 {
    width: 80%;
  }

}

// override with minumum size
@media only screen and (max-width: $table_min_width + $side_margin) {
  .score-panel {
    width: $table_min_width;
  }
  .score-col-1 {
    width: $col_1_min_width;
  }

  .score-col-2 {
    width: $col_2_min_width;
  }

  .score-col-3 {
    width: $col_3_min_width;
  }

}

@mixin hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

@mixin hide-overflow-padding {
  @include hide-overflow;
  padding-left: 0px;
  padding-right: 0px;
}

.game-col-3 {
  @include hide-overflow-padding;
  color: $score_color;
  text-align: left;
}

.game-col-1 {
  @include hide-overflow-padding;
  color: $score_color;
  text-align: right;
}

.game-col-2 {
  @include hide-overflow-padding;
  color: $score_color;
}

.player-col-3 {
  @include hide-overflow-padding;
  text-align: left;
}

.player-col-1 {
  @include hide-overflow-padding;
  text-align: right;
}

.player-col-2 {
  @include hide-overflow-padding;
}

// css to flip glyph icon
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

// Display a score in a green ellipse
.score-col-2 .winner-text {
  display: inline-block;
  padding: 4px;
  line-height: 100%;

  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: green;
  color: white;
}

// Prevent circle from increasing height of row
.score-col-2.match,
.score-col-2.set {
  padding: 0;
}

// Disable links in bootstrap drop down menu
.dropdown-menu > li > a.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}

//Take up space but don't show
.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}


// Show glyphs to side of player name
div.current-server-left {
  text-align: right;
  padding-right: 4px;
}

div.current-server-right {
  padding-left: 4px;
  text-align: left;
}

// Custom grid sizes
.col-xs-2-7 {
  @include make-xs-column(2.7)
}

.col-xs-6-6 {
  @include make-xs-column(6.6)
}

