<!--Give table rounded border-->
<div class="panel panel-default score-panel">
  <table class="table table-bordered table-condensed">
    <tr>

      <!--Opponents-->
      <th class="score-col-1">
      </th>
      <th class="score-col-2">

        <div ng-if="scores.doubles">
          <fe-score-table-opponent
            scores="scores"
            opponent="scores.first_team"
            leftmost="1"
            view="view"
          ></fe-score-table-opponent>
        </div>
        <div ng-if="!scores.doubles">
          <fe-score-table-opponent
            scores="scores"
            opponent="scores.first_player"
            leftmost="1"
            view="view"
          ></fe-score-table-opponent>
        </div>

      </th>
      <th class="score-col-2">

        <div ng-if="scores.doubles">
          <fe-score-table-opponent
            scores="scores"
            opponent="scores.second_team"
            view="view"
          ></fe-score-table-opponent>
        </div>
        <div ng-if="!scores.doubles">
          <fe-score-table-opponent
            scores="scores"
            opponent="scores.second_player"
            view="view"
          ></fe-score-table-opponent>
        </div>

      </th>
    </tr>

    <!-- Match score row -->
    <tr>
      <th class="score-col-1">
        <span class="hidden-xs">Match </span>Score
      </th>
      <th class="score-col-2 match">
        <fe-score-table-match-result
          leftmost="true"
          view="view"
          scores="scores"
        ></fe-score-table-match-result>

      </th>
      <th class="score-col-2 match">
        <fe-score-table-match-result
          leftmost="false"
          view="view"
          scores="scores"
        ></fe-score-table-match-result>

      </th>
    </tr>

    <!--Sets loop-->
    <tr ng-repeat-start="set in scores.sets"></tr>

    <!--Set row-->

    <tr ng-if="!set.newSet && !set.hidden"
        ng-class="{'score-animate-in' : set.showing}">


    <th class="score-col-1">
        <fe-score-table-set-title
          view="view"
          set="set"
        ></fe-score-table-set-title>
      </th>
      <th class="score-col-2 set">
        <fe-score-table-set-result
          scores="scores"
          leftmost="true"
          view="view"
          set="set"
        ></fe-score-table-set-result>
      </th>
      <th class="score-col-2 set">
        <fe-score-table-set-result
          scores="scores"
          leftmost="false"
          view="view"
          set="set"
        ></fe-score-table-set-result>
      </th>
    </tr>

    <!--Games loop  -->
    <tr ng-repeat-start="game in set.games"></tr>

    <!--
    Show game if "Show Games" option is checked or the game does not have a winner.
    Animate if toggling "Show Games" or if changing the score.
    -->

    <tr ng-if="(view.showGames || !game.winner) && !game.hidden"
        ng-class="game.showing ? 'score-animate-in' :
      view.animate.showGames ? 'score-animate' : 'NoOp'">

      <!--Header column-->

      <th class="score-col-1">
        <fe-score-table-game-title
          game="game"
          view="view"
        ></fe-score-table-game-title>
      </th>

      <!--New game column span 2 -->

      <th colspan=2 class="score-col-3 contains-button contains-form" ng-if="game.newGame">

        <div ng-if="view.keepingScore()">
          <!--select next server when starting 1st or 2nd game-->
          <div ng-if="!(view.updating || view.updated) && scores.firstServers"
               ng-class="{'score-animate': view.animate.serversForm}">
            <fe-score-table-select-server
              scores="scores"
              view="view"
            ></fe-score-table-select-server>
          </div>

          <!--Start game button. Do not need to select servers-->
          <div ng-if="!scores.firstServers">
            <fe-score-button
              view="view"
              scores="scores"
            ></fe-score-button>
          </div>
        </div>

        <!--Game starting message-->
        <div ng-if="!view.keepingScore()">
          <fe-score-table-row-status
            scores="scores"
          ></fe-score-table-row-status>
        </div>

      </th>

      <!--Game in progress message -->
      <th colspan="2" class="score-col-3" ng-if="!view.keepingScore() && !game.newGame && !game.winner">
        <fe-score-table-row-status
          scores="scores"
        ></fe-score-table-row-status>
      </th>

      <!--Win game column left-->

      <th class="score-col-2 contains-button" ng-if="view.keepingScore() && !game.newGame && !game.winner">

        <!--Win game button-->
        <fe-score-button
          view="view"
          scores="scores"
          param="0"
        ></fe-score-button>
      </th>

      <!--Win game column right-->

      <th class="score-col-2 contains-button" ng-if="view.keepingScore() && !game.newGame && !game.winner">

        <!--Win game button-->
        <fe-score-button
          view="view"
          scores="scores"
          param="1"
        ></fe-score-button>
      </th>


      <!--Game score column left -->

      <th class="score-col-2" ng-if="game.winner">
        <fe-score-table-game-result
          winner="game.winner === scores.opponents[0]"
          leftmost="true"
          scores="scores"
          view="view"
          game="game"
        >
        </fe-score-table-game-result>
      </th>

      <!--Game score column right-->

      <th class="score-col-2" ng-if="game.winner">
        <fe-score-table-game-result
          winner="game.winner === scores.opponents[1]"
          leftmost="false"
          scores="scores"
          view="view"
          game="game"
        >
        </fe-score-table-game-result>
      </th>

    </tr>

    </tr>
    <tr ng-repeat-end></tr>
    <tr ng-repeat-end></tr>

  </table>
</div>


