<div class="row">
  <div class="col-xs-12">

    <div ng-if="!scores.matchFlags.hiddenProgress" ng-class="{'standard-animation': scores.matchFlags.animatingProgress}">

      <div ng-class="{'pull-left score-progress-left' : view.keepingScore && scores.startingSetOrMatch}">

        <!--Display a message-->

        <span ng-if="scores.actions.win_game">
          Playing game {{scores.currentGame.title}} of the {{scores.currentSet.title}} set<span ng-if="view.showWinButtonHint && view.keepingScore">.&nbsp;&nbsp;
          When game {{scores.currentGame.title}} is completed, click the button beneath the winner</span>
        </span>

        <span ng-if="scores.actions.win_tiebreak">
          Playing the {{scores.currentSet.title}} set {{scores.currentGame.title}} point tiebreak.&nbsp;&nbsp;
        </span>

        <span ng-if="scores.actions.win_match_tiebreak">
          Playing the match {{scores.currentGame.title}} point tiebreak.&nbsp;&nbsp;
        </span>

        <span ng-if="scores.actions.win_tiebreak || scores.actions.win_match_tiebreak">
          When the tiebreak is completed, click the button beneath the winner.
        </span>

        <span ng-if="scores.actions.start_set">
            <span>{{scores.previousSet.title}} set won by&nbsp;&nbsp;</span>
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousSet.winner"
              punctuation="."
            ></fe-score-progress-winner><span>&nbsp;&nbsp;</span>
            <span>The {{scores.currentSet.title}} set is next</span>
        </span>

        <span ng-if="scores.actions.start_game">
          <span ng-if="scores.currentGame.firstOfMatch">
            The match has started.&nbsp;&nbsp;The first game is upcoming
          </span>

          <span ng-if="!scores.currentGame.firstOfMatch && !scores.currentGame.tiebreak">
            <span>Game {{scores.previousGame.title}} won by&nbsp;</span>
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousGame.winner"
              punctuation="."
            ></fe-score-progress-winner><span>&nbsp;&nbsp;</span>
            <span>Game {{scores.currentGame.title}} is next</span>
          </span>
        </span>

        <span ng-if="scores.actions.start_tiebreak">
          <span>Game {{scores.previousGame.title}} won by&nbsp;</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.previousGame.winner"
            punctuation="."
          ></fe-score-progress-winner><span>&nbsp;&nbsp;</span>
          <span>The set tiebreak is next</span>
        </span>

        <span ng-if="scores.actions.start_match_tiebreak">
          <div>Set {{scores.previousSet.title}} won by&nbsp;
            <fe-score-progress-winner
              scores="scores"
              winner="scores.previousSet.winner"
              punctuation="."
            ></fe-score-progress-winner>
            <span>&nbsp;&nbsp;The match tiebreak is next</span>
          </div>
        </span>

        <span ng-if="scores.state == 'complete'">
          <span>The match is over.&nbsp;&nbsp;The</span>
          <span ng-if="scores.doubles">winners are&nbsp;</span>
          <span ng-if="!scores.doubles">winner is&nbsp;</span>
          <fe-score-progress-winner
            scores="scores"
            winner="scores.winner"
            match-winner="true"
          ></fe-score-progress-winner>
        </span>

        <span ng-if="scores.actions.start_play">
          The match has not started
        </span>
      </div>

      <div class="pull-right" ng-if="view.keepingScore && scores.startingSetOrMatch">
        <!--Display a button-->
        <fe-score-button
          view="view"
          scores="scores"
        ></fe-score-button>
      </div>
    </div>
  </div>
</div>
