<div>

  <div class="col-xs-12" ng-if="sub.loading">
    {{sub.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="sub.loadingFailed">
    {{sub.loadingFailedMessage}}
  </div>


  <div ng-if="!sub.loading && !sub.loadingFailed">
    <div class="play-table">
      <div ng-if="sub.scoreBoard.doubles && sub.scoreBoard.first_team.name != null && sub.scoreBoard.second_team.name != null" class="match-detail">
        "{{sub.scoreBoard.first_team.name}}" vs. "{{sub.scoreBoard.second_team.name}}"
      </div>
      <div class="match-detail">
        <fe-match-scoring match="sub.scoreBoard"></fe-match-scoring>
      </div>
      <div class="match-detail">
        <fe-match-status match="sub.scoreBoard"></fe-match-status>
      </div>

    </div>

    <div class="play-table">
      <fe-score-tool-bar scores="sub.scoreBoard"></fe-score-tool-bar>
    </div>

    <div>
      <fe-score-table scores="sub.scoreBoard"></fe-score-table>
    </div>

  </div>
</div>

