<div class="container-fluid">
  <div class="col-xs-12" ng-if="main.loading">
    {{main.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="main.loadingFailed">
    {{main.loadingFailedMessage}}
  </div>

  <div class="col-xs-12" ng-if="!main.loading && !main.loadingFailed">

    <!--Select match drop down-->
    <table class="table table-condensed play-table play-description">
      <tr>
        <!--<th>Match:</th>-->
        <td>

          <div>
            <label for="team" class="control-label sr-only">Team</label>
            <ui-select ng-model="main.selectedMatch" theme="bootstrap" id="team" name="team"
                       ng-required="true" on-select="main.selectedMatchChange()">
              <ui-select-match placeholder="Select a match">{{$select.selected.title}}</ui-select-match>
              <ui-select-choices repeat="item in main.matches | filter: $select.search">
                <div ng-bind-html="item.title | highlight: $select.search"></div>
                <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
              </ui-select-choices>
            </ui-select>
          </div>
        </td>
      </tr>
    </table>


    <div ui-view></div>

  </div>
</div>

