// Styling for scoreboard table

$border: 1px solid black;
$table_width: 550px;
$col_1_width: 110px;
$col_2_width: 220px;
$col_3_width: 440px;

$table_min_width: 300px;
$col_1_min_width: 60px;
$col_2_min_width: 120px;
$col_3_min_width: 240px;

$score_color: green;
$side_margin: 60px;
$menu_width: 20px;

@mixin center-cell {
  text-align: center;
  vertical-align: middle !important;
}

// Default to maximum size
th.score-col-1 {
  width: $col_1_width;
  @include center-cell;
}

th.score-col-2 {
  width: $col_2_width;
  @include center-cell;
}

th.score-col-3 {
  width: $col_3_width;
  @include center-cell;
}

div.score-panel table {
  table-layout: fixed;
}

div.score-panel {
  width: $table_width;
}

div.score-panel .score-progress {
  // container for button and two lines of text
  height: 3em;
  overflow: hidden;
}

div.score-panel-spacing {
  height: 15px;

}

div.score-panel.details .panel-body {
  padding: 8px 12px 0 12px;
}

div.score-panel.details {
  margin-bottom: 0;
}

div.score-menu {
  margin-top: .5em;
  //width: 100px;
}

div.score-select-list {
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
}

th.score-col-3.contains-button,
th.score-col-2.contains-button {
  height: 3.2em;
}

// override with proportional sizing
@media only screen and (max-width: $table_width + $side_margin) {
  table.score-panel, div.score-panel {
    width: 100%;
  }
  th.score-col-1 {
    width: 20%;
  }

  th.score-col-2 {
    width: 40%;
  }

  th.score-col-3 {
    width: 80%;
  }

}

// override with minumum size
@media only screen and (max-width: $table_min_width + $side_margin) {
  div.score-panel, table.score-panel {
    width: $table_min_width;
  }
  th.score-col-1 {
    width: $col_1_min_width;
  }

  th.score-col-2 {
    width: $col_2_min_width;
  }

  th.score-col-3 {
    width: $col_3_min_width;
  }

}

@mixin hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}

@mixin hide-overflow-padding {
  @include hide-overflow;
  padding-left: 0px;
  padding-right: 0px;
}

//.hide-overflow {
//  @include hide-overflow;
//}

div.game-col-3 {
  @include hide-overflow-padding;
  color: $score_color;
  text-align: left;
}

div.game-col-1 {
  @include hide-overflow-padding;
  color: $score_color;
  text-align: right;
}

div.game-col-2 {
  @include hide-overflow-padding;
  color: $score_color;
}

div.player-col-3 {
  @include hide-overflow-padding;
  text-align: left;
}

div.player-col-1 {
  @include hide-overflow-padding;
  text-align: right;
}

div.player-col-2 {
  @include hide-overflow-padding;
}

// css to flip glyph icon
.flip-horizontal {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

// Display set and match winner score in circle
th.score-col-2 span.winner-text {
  display: inline-block;
  padding: 4px;
  line-height: 100%;

  -moz-border-radius: 50%;
  border-radius: 50%;

  background-color: green;
  color: white;
}

// Prevent circle from increasing height of row
th.score-col-2.match,
th.score-col-2.set {
  padding: 0;
}

// Disable links in bootstrap drop down menu
.dropdown-menu > li > a.disabled-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: grey;
}

//Take up space but don't show
.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}

// Custom grid sizes

.col-xs-2-4 {
  @include make-xs-column(2.4)
}

.col-xs-9-6 {
  @include make-xs-column(9.6)
}

.col-xs-2-7 {
  @include make-xs-column(2.7)
}

.col-xs-6-6 {
  @include make-xs-column(6.6)
}

.col-xs-4-8 {
  @include make-xs-column(4.8)
}

.col-xs-7-2 {
  @include make-xs-column(7.2)
}

