<div ng-if="scores.doubles" ng-init="inProgress=scores.state=='in_progress'">
  <!--First doubles player-->
  <div style="position: relative" ng-if="true" class="current-server-right col-xs-2-7 col-sm-2"
       style="border: red 1px solid">
    <!--<span ng-if="scores.server == opponent.first_player.id && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
    <!--</span>&nbsp;-->

    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.first_player.id && !leftmost)?'1':''}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>
  <div class="player-col-2" ng-class="true ? 'col-xs-6-6 col-sm-8' : 'col-xs-12'">
    {{opponent.first_player.shortName}}
  </div>
  <div style="position: relative" ng-if="true" class="current-server-left col-xs-2-7 col-sm-2"
       style="border: blue 1px solid">
    <!--<span ng-if="scores.server == opponent.first_player.id && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span class="text-right" ng-class="{'icon-tennis': leftmost}"></span>-->
    <!--</span>&nbsp;-->
    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.first_player.id && leftmost)?'1':''}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>

  <!--Second doubles player-->
  <div style="position: relative" ng-if="true" class="current-server-right col-xs-2-7 col-sm-2"
       style="border: green 1px solid">
    <!--<span ng-if="scores.server == opponent.second_player.id && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
    <!--</span>&nbsp;-->
    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.second_player.id && !leftmost)?'1':''}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>
  <div class="player-col-2"
       ng-class="true ? 'col-xs-6-6  col-sm-8' : 'col-xs-12'">
    {{opponent.second_player.shortName}}
  </div>
  <div style="position: relative" ng-if="true" class="current-server-left col-xs-2-7 col-sm-2"
       style="border: yellow 1px solid">
    <!--<span ng-if="scores.server == opponent.second_player.id && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span ng-class="{'icon-tennis': leftmost}"></span>-->
    <!--</span>&nbsp;-->
    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.second_player.id && leftmost)?'1':''}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>

</div>

<div ng-if="!scores.doubles" ng-init="inProgress=scores.state=='in_progress'">
  <!--Singles player-->
  <div style="position: relative" ng-if="inProgress" class="current-server-right col-xs-2-7 col-sm-2">
    <!--<span ng-if="scores.server == opponent.id!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
    <!--</span>-->
    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.id && !leftmost?'1':'')}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>
  <div class="player-col-2" ng-class="inProgress ? 'col-xs-6-6 col-md-8' : 'col-xs-12'">
    {{opponent.shortName}}
  </div>
  <div style="position: relative" ng-if="inProgress" class="current-server-left col-xs-2-7 col-sm-2">
    <!--<span ng-if="scores.server == opponent.id && !scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
    <!--<span ng-class="{'icon-tennis': leftmost}"></span>-->
    <!--</span>-->
    <fe-score-table-server-glyph
      scores="scores"
      show="{{(scores.server == opponent.id && leftmost?'1':'')}}"
      leftmost="{{leftmost}}"
    ></fe-score-table-server-glyph>
    &nbsp;
  </div>

</div>

<!--<div ng-if="scores.doubles">-->
<!--&lt;!&ndash;First doubles player&ndash;&gt;-->
<!--<div xxstyle="position: relative; border: 1px solid black" ng-if="scores.server == opponent.first_player.id" class="current-server-right col-xs-2-7 col-md-2">-->
<!--<span xxstyle="position: absolute; top: 5px" ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
<!--</span>-->
<!--&nbsp;-->
<!--</div>-->
<!--<div class="player-col-2" ng-class="scores.server == opponent.first_player.id ? 'col-xs-6-6 col-md-8' : 'col-xs-12'">-->
<!--{{opponent.first_player.shortName}}-->
<!--</div>-->
<!--<div ng-if="scores.server == opponent.first_player.id" class="current-server-left col-xs-2-7 col-md-2">-->
<!--<span ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span class="text-right" ng-class="{'icon-tennis': leftmost}"></span>-->
<!--</span>-->
<!--</div>-->

<!--&lt;!&ndash;Second doubles player&ndash;&gt;-->
<!--<div ng-if="scores.server == opponent.second_player.id" class="current-server-right col-xs-2-7 col-md-2">-->
<!--<span ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
<!--</span>-->
<!--</div>-->
<!--<div class="player-col-2"-->
<!--ng-class="scores.server == opponent.second_player.id ? 'col-xs-6-6  col-md-8' : 'col-xs-12'">-->
<!--{{opponent.second_player.shortName}}-->
<!--</div>-->
<!--<div ng-if="scores.server == opponent.second_player.id" class="current-server-left col-xs-2-7 col-md-2">-->
<!--<span ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span ng-class="{'icon-tennis': leftmost}"></span>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->

<!--<div ng-if="!scores.doubles">-->
<!--&lt;!&ndash;Singles player&ndash;&gt;-->
<!--<div ng-if="scores.server == opponent.id" class="current-server-right col-xs-2-7 col-md-2">-->
<!--<span ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span ng-class="{'icon-tennis flip-horizontal': !leftmost}"></span>-->
<!--</span>-->
<!--</div>-->
<!--<div class="player-col-2" ng-class="scores.server == opponent.id ? 'col-xs-6-6 col-md-8' : 'col-xs-12'">-->
<!--{{opponent.shortName}}-->
<!--</div>-->
<!--<div ng-if="scores.server == opponent.id" class="current-server-left col-xs-2-7 col-md-2">-->
<!--<span ng-if="!scores.matchFlags.hiddenServer" ng-class="{'standard-animation': scores.matchFlags.animatingServer}">-->
<!--<span ng-class="{'icon-tennis': leftmost}"></span>-->
<!--</span>-->
<!--</div>-->

<!--</div>-->
