<div ng-if="match.doubles">
  <!--Doubles-->

  <div>
    <fe-match-opponent-team
      team="match.first_team"
    ></fe-match-opponent-team>

    <span>&nbsp;vs.&nbsp;</span>

    <fe-match-opponent-team
      team="match.second_team"
    ></fe-match-opponent-team>

  </div>

</div>


<div ng-if="!match.doubles">
  <!--Singles-->
  <fe-match-opponent-player
    player="match.first_player"
  ></fe-match-opponent-player>

    <span>
      &nbsp;vs.&nbsp;
    </span>

  <fe-match-opponent-player
    player="match.second_player"
  ></fe-match-opponent-player>
</div>
