<!-- "form" is member of controller-->
<form name="vm.form"
      ng-submit="vm.submit()" novalidate ng-keyup="$event.keyCode == 27 && vm.cancel()">
  <div class="form-group">
    <!--Singles-->
    <div class="radio">
      <label>
        <input type="radio" name="singles" ng-value="false" ng-model="vm.entity.doubles"
               ng-disabled="playerslist.list.length < 2">
        Singles
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="doubles" ng-value="true" ng-model="vm.entity.doubles"
               ng-disabled="teamslist.list.length < 2">
        Doubles
      </label>
    </div>

  </div>

  <div class="form-group" ng-class="{ 'has-error': vm.errors.title }">

    <!--Match title-->
    <label for="title" class="sr-only control-label">Team Name</label>
    <div>
      <input ng-change="vm.clearErrors(['title', 'other'])"
             fe-auto-focus='refocus' type="text" class="form-control" id="title" name="title"
             placeholder="Match Title (optional)"
             ng-model="vm.entity.title">

      <fe-form-field-errors
        errors="vm.errors"
        key="title"
        prefix="Title"
      >
      </fe-form-field-errors>
    </div>
  </div>
  <div ng-if="!vm.entity.doubles">
    <!--First Player-->
    <div class="form-group" ng-class="{ 'has-error': vm.errors.first_player}"
         ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">

      <label for="first_player" class="control-label sr-only">First Player</label>

      <fe-player-select-list
        vm="vm"
        players-list="playersList"
        player="first_player"
      >
      </fe-player-select-list>

      <fe-form-field-errors
        errors="vm.errors"
        key="first_player"
        prefix="Player"
      >
      </fe-form-field-errors>


    </div>
    <!--Second player-->
    <div on-select="vm.clearErrors(['first_player', 'second_player', 'other'])"
         class="form-group" ng-class="{ 'has-error': vm.errors.second_player }"
         ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">
      <label for="second_player" class="control-label sr-only">Second Player</label>

      <fe-player-select-list
        vm="vm"
        players-list="playersList"
        player="second_player"
      >
      </fe-player-select-list>

      <fe-form-field-errors
        errors="vm.errors"
        key="second_player"
        prefix="Player"
      >
      </fe-form-field-errors>

    </div>
  </div>


  <div ng-if="vm.entity.doubles">
    <!--First Team-->
    <div class="form-group" ng-class="{ 'has-error': vm.errors.first_team }"
         ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">

      <label for="first_team" class="control-label sr-only">First Team</label>

      <fe-team-select-list
        vm="vm"
        teams-list="teamsList"
        team="first_team"
      >
      </fe-team-select-list>

      <fe-form-field-errors
        errors="vm.errors"
        key="first_team"
        prefix="Team"
      >
      </fe-form-field-errors>

    </div>

    <!--Second team-->
    <div class="form-group" ng-class="{ 'has-error': vm.errors.second_team }"
         ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">
      <label for="second_team" class="control-label sr-only">Second Player</label>

      <fe-team-select-list
        vm="vm"
        teams-list="teamsList"
        team="second_team"
      >
      </fe-team-select-list>

      <fe-form-field-errors
        errors="vm.errors"
        key="second_team"
        prefix="Team"
      >
      </fe-form-field-errors>

    </div>
  </div>

  <div class="form-group">
    <!--Doubles-->
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="one_eight_game" ng-model="vm.entity.scoring">
        One eight game pro set
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="two_six_game_ten_point" ng-model="vm.entity.scoring">
        Two sets with 10 point tiebreak
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="three_six_game" ng-model="vm.entity.scoring">
        Three sets
      </label>
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$pristine || vm.form.$invalid">{{vm.ok}}</button>
    <button type="Button" class="btn btn-info" ng-click="vm.cancel()">Cancel</button>
  </div>
  <!--Other problems-->
  <fe-form-field-errors
    errors="vm.errors"
    key="other"
    prefix=""
  >
  </fe-form-field-errors>
</form>

