<!-- "form" is member of controller-->
<form name="form"
      ng-submit="submit()" novalidate>
  <div class="form-group" ng-class="{ 'has-error': errors.doubles }">
    <!--Doubles-->
    <div class="radio">
      <label>
        <input type="radio" name="doubles" ng-value="false" ng-model="entity.doubles">
        Singles
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="doubles" ng-value="true" ng-model="entity.doubles">
        Doubles
      </label>
    </div>
    <!--Problems with doubles -->
    <div ng-show="errors.doubles" ng-repeat="error in errors.doubles">
      <span class="help-block">Doubles {{error}}</span>
    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': errors.title }">

    <!--Match title-->
    <label for="title" class="sr-only control-label">Team Name</label>
    <div>
      <!--angular directive focusOnShow watches ng-show -->
      <input type="text" ng-show="form" class="form-control" id="title" name="title"
             fe-focus-on-show
             placeholder="Match Title (optional)"
             ng-model="entity.title">

      <!--Problems with title-->
      <div ng-show="errors.title" ng-repeat="error in errors.title">
        <span class="help-block">Name {{error}}</span>
      </div>
    </div>
  </div>
  <div ng-if="!entity.doubles">
    <!--First Player-->
    <div class="form-group" ng-class="{ 'has-error': errors.first_player}">

      <label for="first_player" class="control-label sr-only">First Player</label>

      <ui-select ng-model="entity.select_first_player" theme="bootstrap" id="first_player" name="first_player"
                 ng-required="true">
        <ui-select-match placeholder="Select a player">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in playerslist.list | filter: $select.search">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
          <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
        </ui-select-choices>
      </ui-select>
      <!--Problems with first player-->
      <div ng-show="errors.first_player" ng-repeat="error in errors.first_player">
        <span class="help-block">Player {{error}}</span>
      </div>


    </div>
    <!--Second player-->
    <div class="form-group" ng-class="{ 'has-error': errors.second_player }">
      <label for="second_player" class="control-label sr-only">Second Player</label>
      <ui-select ng-model="entity.select_second_player" theme="bootstrap" id="second_player" name="second_player"
                 ng-required="true">
        <ui-select-match placeholder="Select a player">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in playerslist.list | filter: $select.search">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
          <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
        </ui-select-choices>
      </ui-select>


      <!--Problems with second player-->
      <div ng-show="errors.second_player" ng-repeat="error in errors.second_player">
        <span class="help-block">Player {{error}}</span>
      </div>

    </div>
  </div>


  <div ng-if="entity.doubles">
    <!--First Team-->
    <div class="form-group" ng-class="{ 'has-error': errors.first_team }">

      <label for="first_team" class="control-label sr-only">First Team</label>

      <ui-select ng-model="entity.select_first_team" theme="bootstrap" id="first_team" name="first_team"
                 ng-required="true">
        <ui-select-match placeholder="Select a team">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in teamslist.list | filter: $select.search">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
          <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
        </ui-select-choices>
      </ui-select>
      <!--Problems with first player-->
      <div ng-show="errors.first_team" ng-repeat="error in errors.first_team">
        <span class="help-block">Team {{error}}</span>
      </div>


    </div>

    <!--Second player-->
    <div class="form-group" ng-class="{ 'has-error': errors.second_team }">
      <label for="second_team" class="control-label sr-only">Second Player</label>
      <ui-select ng-model="entity.select_second_team" theme="bootstrap" id="second_team" name="second_team"
                 ng-required="true">
        <ui-select-match placeholder="Select a team">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="item in teamslist.list | filter: $select.search">
          <div ng-bind-html="item.name | highlight: $select.search"></div>
          <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
        </ui-select-choices>
      </ui-select>


      <!--Problems with second player-->
      <div ng-show="errors.second_team" ng-repeat="error in errors.second_team">
        <span class="help-block">Team {{error}}</span>
      </div>

    </div>
  </div>

  <div class="form-group" ng-class="{ 'has-error': errors.scoring }">
    <!--Doubles-->
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="one_eight_game" ng-model="entity.scoring">
        One eight game set
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="two_six_game_ten_point" ng-model="entity.scoring">
        Two sets with 10 point tiebreak
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="scoring" value="three_six_game" ng-model="entity.scoring">
        Three sets
      </label>
    </div>
    <!--Problems with scoring -->
    <div ng-show="errors.scoring" ng-repeat="error in errors.scoreing">
      <span class="help-block">Scoring {{error}}</span>
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine || form.$invalid">{{ok}}</button>
    <button type="Button" class="btn btn-info" ng-click="cancel()">Cancel</button>
  </div>
  <!--Other problems-->
  <div ng-show="errors.other" ng-repeat="error in errors.other">
    <span class="help-block">{{error}}</span>
  </div>
</form>

