<div class="container-fluid">

  <div class="col-xs-12" ng-if="vm.loading">
    {{vm.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="vm.loadingFailed">
    {{vm.loadingFailedMessage}}
  </div>

  <div ng-if="!vm.loading && !vm.loadingFailed">
    <div ng-if="vm.loggedIn" class="col-xs-12">
      <button class="btn btn-primary" ng-click="vm.showNewEntity()">
        <span class="glyphicon glyphicon-plus"></span> Match
      </button>
    </div>

    <div class="col-xs-12">
      <ol class="list-group">
        <li class="list-group-item" ng-if="vm.showingNewEntityForm">
          <fe-matches-form
            form="vm.newEntityForm"
            errors="vm.entityCreateErrors"
            cancel="vm.hideNewEntity()"
            submit="vm.submitNewEntity()"
            entity="vm.newEntity"
            ok="Add"
            playerslist="vm.playerOptionsList"
            teamslist="vm.teamOptionsList"
          >
          </fe-matches-form>


        </li>

        <!--Team details-->
        <li class="list-group-item clearfix" ng-repeat="entity in vm.entitys">


          <div ng-hide="vm.showingEditEntityForm(entity)">
            <div class="col-xs-10">
              <div class="h4">
                <span ng-if="entity.title">
                {{ entity.title}}
                  </span>
               <span ng-if="!entity.title">
                 (untitled)
                  </span>
              </div>
              <div class="match-detail">
                <fe-match-opponents match="entity"></fe-match-opponents>
              </div>
              <div class="match-detail">
                <fe-match-scoring match="entity"></fe-match-scoring>
              </div>
              <div class="match-detail">
                <fe-match-status match="entity"></fe-match-status>
              </div>
            </div>

            <div class="col-xs-2">
              <!--Delete button-->
              <div class="pull-right">
                <div ng-if="vm.loggedIn">
                  <button class="btn btn-link" ng-click="vm.trashEntity(entity)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
                <div ng-if="vm.loggedIn">
                  <button class="btn btn-link" ng-click="vm.showEditEntity(entity)">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                </div>
                <div>
                  <a
                    ui-sref-active="active" ui-sref="scores.board({ id: entity.id })">Score
                  </a>

                </div>
              </div>
            </div>
          </div>

          <!--Use ng-if so there won't be bunch of forms in the DOM-->
          <div ng-if="vm.showingEditEntityForm(entity)">
            <fe-matches-form
              form="vm.editEntityForm"
              errors="vm.entityUpdateErrors"
              cancel="vm.hideEditEntity()"
              submit="vm.submitEditEntity()"
              entity="vm.editEntity"
              ok="Save"
              playerslist="vm.playerOptionsList"
              teamslist="vm.teamOptionsList"
            >
            </fe-matches-form>
          </div>


        </li>

      </ol>

    </div>
  </div>
</div>
