<div class="container-fluid">

  <fe-crud-page
    loading="vm.loading"
    new-entity="vm.newEntity"
    entity-List="vm.entityList"
  >
    <list>
      <!--Match list-->
      <li class="list-group-item standard-animation" ng-repeat="entity in vm.entityList.entitys">
        <fe-crud-row
          edit-entity="vm.editEntity"
          entity-list="vm.entityList"
          entity="entity"
        >
          <entity>
            <div class="h4">
                <span ng-if="entity.title">
                {{ entity.title}}
                  </span>
              <span ng-if="!entity.title">(untitled)</span>
            </div>
            <div>
              <fe-match-opponents match="entity"></fe-match-opponents>
            </div>
            <div class="space-match-detail">
              <fe-match-scoring match="entity"></fe-match-scoring>
            </div>
            <div class="space-match-detail">
              <fe-match-state match="entity"></fe-match-state>
            </div>

          </entity>
          <edit>
            <fe-matches-form
              vm="vm.editEntity"
              players-list="vm.playerOptionsList"
              teams-list="vm.teamOptionsList"
            >
            </fe-matches-form>
          </edit>

          <links>
            <a ui-sref="scores.board({ id: entity.id })">Score
            </a>
          </links>
        </fe-crud-row>
      </li>
    </list>

    <new>
      <fe-matches-form
        vm="vm.newEntity"
        players-list="vm.playerOptionsList"
        teams-list="vm.teamOptionsList"
      >
      </fe-matches-form>
    </new>

  </fe-crud-page>
</div>

</div>
