<div ng-if="match.winner">
  <div ng-if="match.doubles">
    Match won by
    <span ng-init="winner = (match.winner == match.first_team.id) ? match.first_team : match.second_team">
      <span ng-if="winner.name">
        {{winner.name}}
      </span>
      <span ng-if="!winner.name">
        {{winner.first_player.name}} and {{winner.second_player.name}}
      </span>
    </span>
  </div>
  <div ng-if="!match.doubles">
    Match won by
    <span ng-init="winner = (match.winner == match.first_player.id) ? match.first_player : match.second_player">
        {{winner.name}}
     </span>
  </div>
</div>

<div ng-if="!match.winner">
  <div ng-if="match.state == 'in_progress'">
    Match is in progress
  </div>

  <div ng-if="match.state == 'complete'">
    Match is complete
  </div>

  <div ng-if="match.state == 'finished'">
    Match is finished
  </div>

  <div ng-if="match.state == 'not_started'">
    Match has not started
  </div>
</div>

