<div class="container">

  <div class="col-xs-12" ng-if="main.loading">
    {{main.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="main.loadingFailed">
    {{main.loadingFailedMessage}}
  </div>

  <div ng-if="!main.loading && !main.loadingFailed">
    <div class="col-xs-12">
      <button class="btn btn-primary" ng-click="main.showNewEntityForm()">
        <span class="glyphicon glyphicon-plus"></span>Match
      </button>
    </div>

    <div class="col-xs-12">
      <ol class="list-group">
        <li class="list-group-item" ng-if="main.showingNewEntityForm">
          <h1>new</h1>
          <fe-matches-form
            form="main.newEntityForm"
            errors="main.entityCreateErrors"
            cancel="main.hideNewEntityForm()"
            submit="main.submitNewEntityForm()"
            entity="main.newEntity"
            ok="Add"
            playerslist="main.playerOptionsList"
            teamslist="main.teamOptionsList"
          >
          </fe-matches-form>


        </li>

        <!--Team details-->
        <li class="list-group-item clearfix" ng-repeat="entity in main.entitys">


          <div ng-hide="main.showingEditEntityForm(entity)">
            <div class="col-xs-10">
              <div class="h4">
                {{ entity.title}}
              </div>
              <div>
                <div>
                  Status
                </div>
                <div>
                  {{ entity.state }}
                </div>
              </div>
              <div ng-if="entity.winner_player">
                <div>
                  Winner
                </div>
                <div>
                  {{ entity.winner_player.name}}
                </div>
              </div>
              <div ng-if="entity.winner_team">
                <div>
                  Winner
                </div>
                <div>
                  {{ entity.winner_team.name}}
                </div>
              </div>
              <div ng-if="entity.doubles">
                <div>
                  Teams
                </div>
                <div ng-if="entity.first_team.name">
                  {{entity.first_team.name}}
                </div>
                <div>
                  {{entity.first_team.first_player_name}}, {{entity.first_team.second_player_name}}
                </div>
                <div ng-if="entity.second_team.name">
                  {{entity.second_team.name}}
                </div>
                <div>
                  {{entity.second_team.first_player_name}}, {{entity.second_team.second_player_name}}
                </div>
              </div>
              <div ng-if="!entity.doubles">
                <div>
                  <div>
                    Players
                  </div>
                  <div>
                    {{entity.first_player.name}}
                  </div>
                  <div>
                    {{entity.second_player.name}}
                  </div>
                </div>

              </div>
            </div>

            <div class="col-xs-2">
              <!--Delete button-->
              <div class="pull-right">
                <button class="btn btn-link" ng-click="main.trashEntity(entity)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
                <br>
                <button class="btn btn-link" ng-click="main.showEditEntityForm(entity)">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
            </div>
          </div>


          <!--Use ng-if so there won't be bunch of forms in the DOM-->
          <div ng-if="main.showingEditEntityForm(entity)">
            <h1>edit</h1>
            <div>
              <fe-matches-form
                form="main.editEntityForm"
                errors="main.entityUpdateErrors"
                cancel="main.hideEditEntityForm()"
                submit="main.submitEditEntityForm()"
                entity="main.editEntity"
                ok="Save"
                playerslist="main.playerOptionsList"
                teamslist="main.teamOptionsList"
              >
              </fe-matches-form>
            </div>
          </div>


        </li>

      </ol>

    </div>
  </div>
</div>
