<div class="container-fluid">

  <div class="col-xs-12" ng-if="vm.loading">
    {{vm.loadingMessage}}
  </div>

  <div class="col-xs-12" ng-if="vm.loadingFailed">
    {{vm.loadingFailedMessage}}
  </div>

  <div ng-if="!vm.loading && !vm.loadingFailed">
    <div ng-if="vm.loggedIn" class="col-xs-12">
      <button ng-disabled="vm.showingNewEntity" class="btn btn-primary" ng-click="vm.showNewEntity()">
        <span class="glyphicon glyphicon-plus"></span> Team
      </button>
    </div>

    <div class="col-xs-12">
      <ol class="list-group">
        <li class="list-group-item" ng-if="vm.showingNewEntity">

          <!--New team-->

          <fe-teams-form
            form="vm.newEntityForm"
            errors="vm.entityCreateErrors"
            cancel="vm.hideNewEntity()"
            submit="vm.submitNewEntity()"
            entity="vm.newEntity"
            ok="Add"
            players-list="vm.playerOptionsList"
          >
          </fe-teams-form>
        </li>

        <!--Team details-->
        <li class="list-group-item clearfix" ng-repeat="entity in vm.entitys">

          <div ng-hide="vm.showingEditEntity(entity)">
            <div class="col-xs-10">
              <div class="h4">
                <span ng-if="entity.name">{{ entity.name}}</span>
                <span ng-if="!entity.name">(unnamed)</span>
              </div>
              <div>
                {{ entity.first_player.name}} and {{ entity.second_player.name }}
              </div>
            </div>


            <div class="col-xs-2">
              <div class="pull-right">
                <fe-delete-entity-button
                  entity="entity"
                  can-modify="vm.loggedIn"
                  delete-entity="vm.trashEntity(entity)"
                >
                </fe-delete-entity-button>
                <fe-edit-entity-button
                  entity="entity"
                  can-modify="vm.loggedIn"
                  edit-entity="vm.showEditEntity(entity)"
                >
                </fe-edit-entity-button>
              </div>
            </div>
          </div>


          <div ng-if="vm.showingEditEntity(entity)">
            <div>
              <fe-teams-form
                form="vm.editEntityForm"
                errors="vm.entityUpdateErrors"
                cancel="vm.hideEditEntity()"
                submit="vm.submitEditEntity()"
                entity="vm.editEntity"
                ok="Save"
                playerslist="vm.playerOptionsList"
              >
              </fe-teams-form>
            </div>
          </div>


        </li>

      </ol>

    </div>
  </div>
</div>
