<div class="container-fluid">
  <fe-crud-page
    loading="vm.loading"
    new-entity="vm.newEntity"
    entity-List="vm.entityList"
  >
    <main>
      <!--Team list-->
      <li class="list-group-item standard-animation" ng-repeat="entity in vm.entityList.entitys">
        <fe-crud-row
          edit-entity="vm.editEntity"
          entity-list="vm.entityList"
          entity="entity"
        >
          <main>
            <div class="h4">
              <span ng-if="entity.name">{{ entity.name}}</span>
              <span ng-if="!entity.name">(unnamed)</span>
            </div>
            <div>
              <fe-team-player-names
                team="entity"
              >
              </fe-team-player-names>
            </div>

          </main>
          <section>
            <fe-teams-form
              vm="vm.editEntity"
              players-list="vm.playerOptionsList"
            >
            </fe-teams-form>
          </section>
        </fe-crud-row>
      </li>
    </main>

    <section>
      <fe-teams-form
        vm="vm.newEntity"
        players-list="vm.playerOptionsList"
      >
      </fe-teams-form>
    </section>

  </fe-crud-page>

</div>

