<!-- form is member of controller-->
<form name="form"
      ng-submit="submit()" novalidate ng-keyup="$event.keyCode == 27 && cancel()">
  <div class="form-group" ng-class="{ 'has-error': errors.name }">

    <!--Team Name-->
    <label for="name" class="sr-only control-label">Team Name</label>
    <div>
      <input fe-auto-focus='refocus' type="text" class="form-control" id="name" name="name"
             placeholder="Team Name (optional)"
             ng-model="entity.name">

      <!--Problems with name-->
      <div ng-show="errors.name" ng-repeat="error in errors.name">
        <span class="help-block">Name {{error}}</span>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error': errors.first_player }"
       ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">

    <label for="first_player" class="control-label sr-only" >First Player</label>

    <ui-select ng-model="entity.select_first_player" theme="bootstrap" id="first_player" name="first_player" ng-required="true">
      <ui-select-match placeholder="Select a player">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in playersList.list | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
        <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
      </ui-select-choices>
    </ui-select>
    <!--Problems with first player-->
    <div ng-show="errors.first_player" ng-repeat="error in errors.first_player">
      <span class="help-block">Player {{error}}</span>
    </div>


  </div>
  <div class="form-group" ng-class="{ 'has-error': errors.second_player }"
       ng-keyup="$event.keyCode == 27 && $event.stopPropagation()">
    <!--Second player-->
    <label for="second_player" class="control-label sr-only" >Second Player</label>
    <ui-select ng-model="entity.select_second_player" theme="bootstrap" id="second_player" name="second_player" ng-required="true">
      <ui-select-match placeholder="Select a player">{{$select.selected.name}}</ui-select-match>
      <ui-select-choices repeat="item in playersList.list | filter: $select.search">
        <div ng-bind-html="item.name | highlight: $select.search"></div>
        <!--<small ng-bind-html="item.id | highlight: $select.search"></small>-->
      </ui-select-choices>
    </ui-select>


    <!--Problems with second player-->
    <div ng-show="errors.second_player" ng-repeat="error in errors.second_player">
      <span class="help-block">Player {{error}}</span>
    </div>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-disabled="form.$pristine || form.$invalid">{{ok}}</button>
    <button type="Button" class="btn btn-info" ng-click="cancel()">Cancel</button>
  </div>
  <!--Other problems-->
  <div ng-show="errors.other" ng-repeat="error in errors.other">
    <span class="help-block">{{error}}</span>
  </div>
</form>

