<div class="container-fluid">
  <fe-crud-page
    kind="team"
    vm="vm"
  >
    <list>
      <!--Team list-->
      <li class="list-group-item standard-animation" ng-repeat="entity in vm.entitys">
        <fe-crud-row
          vm="vm"
          entity="entity"
        >
          <entity>
            <div class="h4">
              <span ng-if="entity.name">{{ entity.name}}</span>
              <span ng-if="!entity.name">(unnamed)</span>
            </div>
            <div>
              {{ entity.first_player.name}} and {{ entity.second_player.name }}
            </div>

          </entity>
          <edit>
            <fe-teams-form
              vm="vm.editEntity"
              players-list="vm.playerOptionsList"
            >
            </fe-teams-form>
          </edit>
        </fe-crud-row>
      </li>
    </list>

    <new>
      <fe-teams-form
        vm="vm.newEntity"
        players-list="vm.playerOptionsList"
      >
      </fe-teams-form>
    </new>

  </fe-crud-page>

</div>

