<div class="row">
  <div class="col-xs-10">
    <div ng-if="!editEntity.showingForm(entity) && !entityList.hidingItem(entity)"
         ng-class="{'standard-animation': entityList.animatingItem(entity)}">
      <div ng-transclude="entity">
      </div>
    </div>

    <!--Edit entity-->

    <div ng-if="editEntity.showingForm(entity)" class="standard-animation">
      <div ng-transclude="edit">
      </div>
    </div>
  </div>

  <div class="col-xs-2">
    <!--Delete button-->
    <div class="pull-right standard-animation" ng-if="entityList.allowDelete()">
      <fe-delete-entity-button
        entity="entity"
        delete-entity="entityList.deleteItem(entity)"
      >
      </fe-delete-entity-button>
      <fe-edit-entity-button
        entity="entity"
        disable="editEntity.showingForm(entity)"
        edit-entity="editEntity.show(entity)"
      >
      </fe-edit-entity-button>
      <div ng-transclude="links">

      </div>
    </div>
  </div>
</div>
