#login-dropdown {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden; //background-color:rgba(255,255,255,.8);
}

#navbar {
  margin-bottom: 0;
}

#navbar-brand {
  color: green;
}

#jumbotron-brand {
  background-color: green;
  color: white;
}
